*{
	margin:0;
	padding:0;
	list-style: none;
}
body{
	background-color: white;
	width:100%;
}
.mui-title,.mui-icon{
	color:white;
}
.mui-bar-nav~.mui-content{
	background-color: rgba(0,0,0,.0);
	width:100%;
	height:calc(100% - 44px);
	position:absolute;
	top:44px;
	left:0;
	padding:0 !important;
}
.mui-bar-nav {
	z-index: 2022;
	background: #07c8a2;
}

.mui-bar {
	height: 50px;
}

.mui-title {
	line-height: 50px;
}

.mui-bar .mui-icon {
	padding-top: 15px;
	padding-bottom: 15px;
}

.map{
	width:100%;
	height:100%;
	z-index: 1;
}
.navigationBtn{
	width:140px;
	height:34px;
	margin:10px auto;
	background-image: url(../img/btn.png);
	background-position: center;
	background-repeat: no-repeat;
	border-radius:4px;
	text-align: center;
	line-height: 34px;
	color:white;
	font-size: 14px;
	position:absolute;
	bottom:10px;
	left: 50%;
	margin: 0 0 0 -70px;
	z-index: 3;
}
#search{
	width:90%;
	height:42px;
	border-radius:4px;
	background-color: white;
	position: absolute;
	left: 5%;
	top: 10px;
	border:none;
	z-index: 3;
}
#search .searchInput{
	background-color: white;
	height:42px;
	line-height: 42px;
	margin:0 !important;
}
#search .mui-placeholder{
	height:42px;
	line-height: 42px;
}

:-moz-placeholder { 
    font-size: 14px;
    color:#ddd; 
}
::-moz-placeholder { 
    font-size: 14px;
    color:#ddd;
}
#search:-ms-input-placeholder {
    font-size: 14px;
    color:#ddd;
}
#search::-webkit-input-placeholder {
    font-size: 14px;
    color:#ddd;
}

.searchMain{
	width:100%;
	height:calc(100% + 44px);
	position: absolute;
	left:0;
	top:-44px;
	background-color: rgba(0,0,0,.0);
	z-index: 10;
	display: none;
}

.navigationMain{
	width:100%;
	height:calc(100% + 44px);
	position: absolute;
	left:0;
	top:-44px;
	background-color: rgba(0,0,0,.0);
	z-index: 10;
	display: none;
}
.searchMainTop{
	height:60px;
	width:100%;
	background-color: white;
	overflow: hidden;
}
.searchMainBottom{
	height:calc(100% - 60px);
	width:100%;
	background-color: white;
	overflow: auto;
}
.searchMainTop .arrow,.searchMainTop button,.searchMainTop input{
	float:left;
}
.searchMainTop button{
	width:60px;
	height:32px;
	margin-top: 14px;
	border:none;
	color:white !important;
	background-color: #007aff;
	margin-left: 10px;
}
.searchMainTop input{
	width:calc(100% - 100px);
	height:32px;
	margin-top: 14px;
}
.searchMainTop .arrow{
	width:24px;
	height:100%;
	color:#007aff;
	line-height: 56px;
}


.navigationTop{
	height:104px;
	width:100%;
	background-color: white;
	overflow: hidden;
}
.navigationBottom{
	height:calc(100% - 104px);
	width:100%;
	background-color: white;
	overflow: auto;
}
.navigationTop div{
	float: left;
}
.navigationTop .arrow{
	width:24px;
	height:100%;
	color:#15c99d;
	line-height: 104px;
}
.navigationTop .right{
	width:calc(100% - 40px);
	height:80px;
	background-color: #f9f9f9;
	margin:10px 0 0 0;
	border-radius:4px;
	overflow: hidden;
}
.right .leftIcon,.right .content ,.right .rightIcon{
	float: left;
}
.right .leftIcon{
	width: 32px;
	height:100%;
}
.right .content{
	width:calc(100% - 32px);
	height:100%;
}
.right .rightIcon{
	width: calc(100% - 222px);
	height: 100%;
}
.qhIcon{
	width:28px;
	height:28px;
	background-size:auto 100%;
	background-image: url(../img/qh.png);
	background-position: center;
	background-repeat: no-repeat;
	margin:27px 0 0 16px;
}
.leftIcon .top{
	clear: both;
	margin:15px 0 0 11px;
	width:9px;
	height:9px;
	border-radius:50%;
	background-color: #0dc56e;
}
.leftIcon .line{
	clear: both;
	width:1px;
	height:30px;
	margin-left: 15px;
	border: 1px dashed  #d6d6d6;
}
.leftIcon .bottom{
	clear: both;
	margin-left: 11px;
	width:9px;
	height:9px;
	border-radius:50%;
	background-color: #f03838;
}
#sLoc{
	border-bottom:1px solid #f2f2f2;
}
.content .mui-search{
	height:39px;
}
.content .searchInput{
	border:none;
	border-radius:0;
	background-color: rgba(0,0,0,.0);
}

#sLoc .searchInput:-moz-placeholder { 
    font-size: 14px;
    color:#111; 
}
#sLoc .searchInput::-moz-placeholder { 
    font-size: 14px;
    color:#111;
}
#sLoc .searchInput:-ms-input-placeholder {
    font-size: 14px;
    color:#111;
}
#sLoc .searchInput::-webkit-input-placeholder {
    font-size: 14px;
    color:#111;
}


#eLoc .searchInput:-moz-placeholder { 
    font-size: 14px;
    color:#ddd; 
}
#eLoc  .searchInput::-moz-placeholder { 
    font-size: 14px;
    color:#ddd;
}
#eLoc  .searchInput:-ms-input-placeholder {
    font-size: 14px;
    color:#ddd;
}
#eLoc  .searchInput::-webkit-input-placeholder {
    font-size: 14px;
    color:#ddd;
}



.mui-icon-paperplane{
	font-size: 22px;
}
.navigationBtn span{
	font-size: 16px;
}


.searchList{
	width:100%;
	height:60%;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2018;
	overflow-y: auto;
	display: none;
	padding:10px 0 0 0;
}
.searchList .mui-table-view:after,.searchList .mui-table-view:before{
	height:0;
}
.closeSearchList{
	position: absolute;
	right: 10px;
	width:42px;
	height:42px;
	line-height: 42px;
	text-align: center;
	background-color: #15c99d;
	color:#fff;
	z-index: 2020;
	border-radius:50%;
	display: none;
}
.returnList{
	position: absolute;
	right: 10px;
	bottom:130px;
	width:42px;
	height:42px;
	line-height: 42px;
	text-align: center;
	background-color: #15c99d;
	color:#fff;
	z-index: 2020;
	border-radius:50%;
	display: none;
	box-shadow:0 2px 2px #919187;
}
.searchBtn{
	position:absolute;
	right:0;
	top: 0px;
	height:42px;
	width:72px !important;
	text-align: center;
	padding:0 !important;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	background-color: #15c99d;
	border:none;
}
.searchFocus{
	padding-right: 100px !important;
}
#search .mui-icon-clear{
	right:72px !important;
}
.locationBtn{
	position:absolute;
	bottom:10px;
	left:15px;
	z-index: 2018;
	border-radius:50%;
	width:32px;
	height:32px;
	background-color: white;
	box-shadow:0 2px 2px #919187;
	line-height: 32px;
	text-align: center;
	color:#15c99d;
}
.navigationDeatil{
	width:100%;
	height:150px;
	font-size: 14px;
	color:#333;
	background-color: white;
	box-shadow: 0 2px 2px  #919187;
	border-radius:4px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	position: absolute;
	bottom:0;
	left: 0;
	z-index: 2018;
	display: none;
}
.navigationDeatilTop{
	height:97px;
	border-bottom:1px solid #CCCCCC;
}
.startText span,.endText span{
	float: left;
}
.startText i,.endText i{
	width:9px;
	height:9px;
	border-radius:50%;
	float: left;
	margin: 11px 10px 0 0;
	
}
.endText i{
	background-color: #f03838;
}
.startText i{
	background-color: #0dc56e;
}
.startText,.endText{
	line-height: 32px;
	overflow: hidden;
	margin-left: 10px;
	
}
.closeNavigation{
	float: left;
	line-height: 55px;
	font-size: 14px;
	font-weight: 550;
	color:#111;
	padding: 0 15px;
	
}
.closeNavigation i{
	color:#15c99d;
	font-size: 14px;
	margin: 0 5px 0 0 ;
}

.startNavigation{
	float: right;
	width:100px;
	height:34px;
	line-height: 34px;
	text-align: center;
	margin:10px 15px 0 0;
	color: white;
	background-color: #15c99d;
	border-radius:120px;
}
.navigationDeatilBottom{
	height:55px;
	overflow: hidden;
}
.distance{
	text-align: left;
	line-height: 28px;
	color:#15c99d;
	padding: 0 0 0 29px;
}

.outNavigationMain{
	width:calc(100% - 30px);
	height:42px;
	background-color: rgba(255,255,255,.9);
	border-radius:4px;
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	left: 15px;
	z-index: 2018;
	overflow: hidden;
	font-weight: 550;
	display: none;
}
.outNavigationMain div{
	float: left;
}
.outNavigation{
	width:70px;
	height:14px;
	border-right:1px solid #919187;
	text-align: center;
	line-height: 16px;
	margin-top: 13px;
	
}
.surplus{
	text-align: center;
	width: calc(100% - 71px);
	height: 100% ;
	line-height: 42px;
}
.surplus span{
	font-size: 20px;
}
.treeBtn{
	width:42px;
	height:42px;
	background-color:white;
	border-radius:6px;
	position:absolute;
	right:10px;
	top:100px;
	z-index:2020;
	background-image: url(../img/tree_1.png);
	background-position: center;
	background-repeat: no-repeat;
	text-align:center;

}