*{
	margin:0;
	padding:0;
	list-style: none;
}
body{
	background-color: white;
}
.mui-title,.mui-icon{
	color:white;
}

.mui-content{
	background-color: white;
}
.mui-bar-nav {
	z-index: 2022;
	background: #07c8a2;
}

.mui-bar {
	height: 50px;
}

.mui-title {
	line-height: 50px;
}

.mui-bar .mui-icon {
	padding-top: 15px;
	padding-bottom: 15px;
}
.mui-icon-plusempty{
	font-size:34px !important;
	padding:9px 0 0 0 !important;
	margin-right:-4px !important;
}
.topRaidoBox{
	width:100%;
	overflow: hidden;
	height: 80px;
}

.topRaidoBox div{
	float: left;
	width:70px;
	font-size: 14px;
	height:34px;
	margin:23px 5px 23px 5px;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
	color:#888888;
}
/*待办任务*/
.pendingTask li:first-child{
	border-top:1px solid  #DDDDDD ;
}
.pendingTask li{
	border-bottom:1px solid  #DDDDDD;
	padding:0 15px;
	overflow: hidden;
}
.pendingTask .left{
	width:calc(100% - 65px);
	float: left;
}
.timeStyle{
	color:#bbb;
	margin:5px 0 0 0;
}
.pendingTask .right{
	width:65px;
	float: right;
	text-align: center;
	line-height: 91px;
	font-size: 14px;
	color:#00A8FE;
}
.pendingTask .title{
	font-size:14px;
	line-height: 20px;
	color:#333333;
	font-weight: 550;
	margin:10px 0 0 0;
}
/*已办事项*/
.runMatters{
	display: none;
}
.runMatters li:first-child{
	border-top:1px solid  #DDDDDD ;
}
.runMatters li{
	border-bottom:1px solid  #DDDDDD;
	padding:0 15px;
	overflow: hidden;
}
.runMatters .left{
	width:calc(100% - 65px);
	float: left;
}
.runMatters .right{
	width:65px;
	float: right;
	text-align: center;
	line-height: 91px;
	font-size: 14px;
	color:#07c8a2;
}
.runMatters .title{
	font-size:14px;
	line-height: 20px;
	color:#333333;
	font-weight: 550;
	margin:10px 0 0 0;
}

/*label_3*/
.label_3_content{
	display: none;
}
.label_3_content li:first-child{
	border-top:1px solid  #DDDDDD ;
}
.label_3_content li{
	border-bottom:1px solid  #DDDDDD;
	padding:0 15px;
	overflow: hidden;
}
.label_3_content .left{
	width:calc(100% - 65px);
	float: left;
}
.label_3_content .right{
	width:65px;
	float: right;
	text-align: center;
	line-height: 91px;
	font-size: 14px;
	color:#07c8a2;
}
.label_3_content .title{
	font-size:14px;
	line-height: 20px;
	color:#333333;
	font-weight: 550;
	margin:10px 0 0 0;
}
/*label_4*/
.label_4_content{
	display: none;
}
.label_4_content li:first-child{
	border-top:1px solid  #DDDDDD ;
}
.label_4_content li{
	border-bottom:1px solid  #DDDDDD;
	padding:0 15px;
	overflow: hidden;
}
.label_4_content .left{
	width:calc(100% - 65px);
	float: left;
}
.label_4_content .right{
	width:65px;
	float: right;
	text-align: center;
	line-height: 91px;
	font-size: 14px;
	color:#07c8a2;
}
.label_4_content .title{
	font-size:14px;
	line-height: 20px;
	color:#333333;
	font-weight: 550;
	margin:10px 0 0 0;
}

/*--------安全隐患--------*/
.unsafeType{
	color:#FCB816 !important;
}

/*---修改合并之后样式冲突---*/
.qualityStyle .left{
	width:100% !important;
}
.qualityStyle .timeStyle{
	overflow: hidden;
}
.qualityStyle .timeStyle span{
	float: left;
}
.qualityStyle .timeStyle .statusInfo{
	float: right;
}
